{% comment %}
  Example usage:

{% render "tabs",
  display_type: section.settings.display_as,                      Can either be 'accordion' or 'tab'
  show_reviews: settings.enable_reviews,                          If true, the final tab will be reviews
  reviews_title: reviews_title,                                   The title of the reviews tab [OPTIONAL]
  accordion_is_closed: accordion_is_closed,                       If true, the accordion will be collapsed by default
  product: product,                                               The product object [ONLY REQUIRED IF show_reviews is true]
  allow_multi_open: true,                                         If true, all accordions can be opened at once
  tab1_title: product_description_title,                          Title of tab 1 [OPTIONAL]
  tab1_content: product.description,                              Content of tab 1 [OPTIONAL]
  tab1_collapsed: true,                                           Boolean if the tab is opened/closed [OPTIONAL]
  tab2_title: pages[section.settings.tab_2_page].title,           Title of tab 2 [OPTIONAL]
  tab2_content: pages[section.settings.tab_2_page].content,       Content of tab 2 [OPTIONAL]
  tab2_collapsed: false,                                          Boolean if the tab is opened/closed [OPTIONAL]
  %}
{% endcomment %}


{%- liquid
  assign tabId = ""
  if product
    assign tabId = product.id
  endif
  assign _block = block.settings
  assign display_type = display_type | default: _block.display_as
  assign show_description = show_description | default: _block.show_product_description
  assign show_reviews = show_reviews | default: _block.show_product_reviews
  assign accordion_is_closed = accordion_is_closed | default: false
  assign render_as_selected = false
  assign first_valid_tab_found = ""
-%}

{%- assign before_tabs_metafield_tab_title_render = "" -%}
{%- assign after_tabs_metafield_tab_title_render = "" -%}
{%- assign before_tabs_metafield_tab_content_render = "" -%}
{%- assign after_tabs_metafield_tab_content_render = "" -%}

{%- if metafield_tables and metafield_tables.size > 0 -%}
  {%- for metafield_table in metafield_tables -%}
    {%- if metafield_table.settings.display_as == display_type and metafield_table.settings.append_id == blank -%}
      {%- if metafield_table.settings.title != blank and metafield_table.settings.metafields != blank -%}
        {%- if first_valid_tab_found == blank -%}
          {%- assign first_valid_tab_found = "product-tab-panelFields_" | append: metafield_table.id -%}
          {%- assign render_as_selected = true -%}
        {%- else -%}
          {%- assign render_as_selected = false -%}
        {%- endif -%}
        {% capture metafield_table_tab_title %}
          <li role="tab">
            <a href="#" class="cc-tabs__tab-headers__header" aria-selected="{{ render_as_selected }}"
              aria-controls="product-tab-panelFields_{{ metafield_table.id }}" data-cc-toggle-panel="Fields_{{ metafield_table.id }}">
              {{ metafield_table.settings.title }}
            </a>
          </li>
        {% endcapture %}
        {% capture metafield_table_tab_content %}
          {% render 'metafield_table',
            metafield_table: metafield_table,
            render_as_selected: render_as_selected
          %}
        {% endcapture %}
        {%- if metafield_table.settings.render_location == "before_existing" -%}
          {%- assign before_tabs_metafield_tab_title_render = before_tabs_metafield_tab_title_render | append: metafield_table_tab_title -%}
          {%- assign before_tabs_metafield_tab_content_render = before_tabs_metafield_tab_content_render | append: metafield_table_tab_content -%}
        {%- else -%}
          {%- assign after_tabs_metafield_tab_title_render = after_tabs_metafield_tab_title_render | append: metafield_table_tab_title -%}
          {%- assign after_tabs_metafield_tab_content_render = after_tabs_metafield_tab_content_render | append: metafield_table_tab_content -%}
        {%- endif -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

<div class="cc-tabs cc-tabs--{{ display_type }}-mode" data-cc-tab-allow-multi-open="{{ allow_multi_open }}">
  {%- if display_type == "tab" -%}
    <div class="cc-tabs__tab-headers-container">
      <ul class="cc-tabs__tab-headers" role="tablist">
        {%- liquid
          if before_tabs_metafield_tab_title_render != ""
            echo before_tabs_metafield_tab_title_render
          endif
        -%}

        {% for i in (1..8) %}
          {%- if forloop.first -%}
            {% if show_description %}
              {%- assign tab_title = 'products.product.description' | t -%}
              {%- assign tab_content = product.description -%}
            {% endif %}
          {%- else -%}
            {%- capture block_title -%}tab_{{ forloop.index }}_title{%- endcapture -%}
            {%- capture block_page -%}tab_{{ forloop.index }}_page{%- endcapture -%}
            {%- capture block_content -%}tab_{{ forloop.index }}_content{%- endcapture -%}
            {%- assign tab_page = _block[block_page] -%}
            {%- assign tab_title = _block[block_title] | default: pages[tab_page].title -%}
            {%- assign tab_content = _block[block_content] | default: pages[tab_page].content -%}
          {%- endif -%}
          {%- if tab_title != blank and tab_content != blank -%}
            {%- if first_valid_tab_found == blank -%}
              {%- assign first_valid_tab_found = "product-tab-panel" | append: forloop.index | append: "_" | append: tabId -%}
              {%- assign render_as_selected = true -%}
            {%- else -%}
              {%- assign render_as_selected = false -%}
            {%- endif -%}
            <li role="tab">
              <a href="#" class="cc-tabs__tab-headers__header" aria-selected="{{ render_as_selected }}"
                aria-controls="product-tab-panel{{ forloop.index }}_{{ tabId }}" data-cc-toggle-panel="{{ forloop.index }}_{{ tabId }}">
                {{ tab_title }}
              </a>
            </li>
          {%- endif -%}
        {% endfor %}

        {%- liquid
          if after_tabs_metafield_tab_title_render != ""
            echo after_tabs_metafield_tab_title_render
          endif
        -%}

        {%- if show_reviews -%}
          <li role="tab" data-show-in-quickbuy="false">
            <a href="#" class="cc-tabs__tab-headers__header" aria-selected="false"
               aria-controls="product-tab-panel9_{{ tabId }}" data-cc-toggle-panel="9_{{ tabId }}">
              {% if reviews_title %}
                {{ reviews_title }}
              {% else %}
                {{ 'products.product.reviews_link' | t: count: 2 }}
              {% endif %}
            </a>
          </li>
        {%- endif -%}
      </ul>
    </div>
  {%- endif -%}

  {%- liquid
    if before_tabs_metafield_tab_content_render != ""
      echo before_tabs_metafield_tab_content_render
    endif
  -%}

  {% for i in (1..8) %}
    {%- if forloop.first -%}
      {% if show_description %}
        {%- assign tab_title = 'products.product.description' | t -%}
        {%- assign tab_content = product.description -%}
      {% endif %}
    {%- else -%}
      {%- capture block_title -%}tab_{{ forloop.index }}_title{%- endcapture -%}
      {%- capture block_page -%}tab_{{ forloop.index }}_page{%- endcapture -%}
      {%- capture block_content -%}tab_{{ forloop.index }}_content{%- endcapture -%}
      {%- capture block_append_id -%}tab_{{ forloop.index }}_append_id{%- endcapture -%}
      {%- assign tab_page = _block[block_page] -%}
      {%- assign tab_title = _block[block_title] | default: pages[tab_page].title -%}
      {%- assign tab_content = _block[block_content] | default: pages[tab_page].content -%}
      {%- assign tab_append_id = _block[block_append_id] -%}
    {%- endif -%}
    {%- liquid
      capture tab_metafield_table_render_above
        if metafield_tables and metafield_tables.size > 0
          for metafield_table in metafield_tables
            if metafield_table.settings.append_id == tab_append_id and metafield_table.settings.append_location == "above"
              render 'metafield_table', metafield_table: metafield_table
            endif
          endfor
        endif
      endcapture
      capture tab_metafield_table_render_below
        if metafield_tables and metafield_tables.size > 0
          for metafield_table in metafield_tables
            if metafield_table.settings.append_id == tab_append_id and metafield_table.settings.append_location == "below"
              render 'metafield_table', metafield_table: metafield_table
            endif
          endfor
        endif
      endcapture
    -%}
    {%- if tab_title != blank and tab_content != blank -%}
      <div class="cc-tabs__tab" role="tablist">
        {%- if display_type == "accordion" -%}
          {%- if first_valid_tab_found == blank -%}
            {%- assign first_valid_tab_found = "product-tab-panel" | append: forloop.index | append: "_" | append: tabId -%}
            {%- assign render_as_selected = true -%}
          {%- else -%}
            {%- assign render_as_selected = false -%}
          {%- endif -%}
          <a href="#" class="cc-tabs__accordion__header" role="tab" aria-selected="{{ render_as_selected }}"
             aria-controls="product-tab-panel{{ forloop.index }}_{{ tabId }}" data-cc-toggle-panel="{{ forloop.index }}_{{ tabId }}">
            {{ tab_title }}
          </a>
        {%- endif -%}
        {%- assign current_id = "product-tab-panel" | append: forloop.index | append: "_" | append: tabId -%}
        {%- if first_valid_tab_found == current_id -%}
          {%- assign render_as_selected = true -%}
        {% else %}
          {%- assign render_as_selected = false -%}
        {%- endif -%}
        <div class="cc-tabs__tab__panel rte" {% unless render_as_selected %}hidden=""{% endunless %} role="tab" id="product-tab-panel{{ forloop.index }}_{{ tabId }}"
             aria-labelledby="product-tab-panel{{ forloop.index }}_{{ tabId }}">
          {{ tab_metafield_table_render_above }}
          {{ tab_content }}
          {{ tab_metafield_table_render_below }}
        </div>
      </div>
    {%- endif -%}
  {% endfor %}

  {%- liquid
    if after_tabs_metafield_tab_content_render != ""
      echo after_tabs_metafield_tab_content_render
    endif
  -%}

  {%- if show_reviews -%}
    <div class="cc-tabs__tab" role="tablist" data-show-in-quickbuy="false">
      {%- if display_type == "accordion" -%}
        <a href="#" class="cc-tabs__accordion__header" role="tab" aria-selected="{% if tab_reviews_collapsed == false %}true{% if allow_multi_open and accordion_is_closed == false %}true{% else %}false{% endif %}{% endif %}"
           aria-controls="product-tab-panel9_{{ tabId }}" data-cc-toggle-panel="9_{{ tabId }}">
          {% if reviews_title %}
            {{ reviews_title }}
          {% else %}
            {{ 'products.product.reviews_link' | t: count: 2 }}
          {% endif %}
        </a>
      {%- endif -%}
      <div class="cc-tabs__tab__panel rte" {% if allow_multi_open == blank or accordion_is_closed %}hidden=""{% elsif tab_reviews_collapsed %}hidden=""{% endif %} role="tab" id="product-tab-panel9_{{ tabId }}"
           aria-labelledby="product-tab-panel9_{{ tabId }}">
        <div id="shopify-product-reviews" data-id="{{ product.id }}">{{ product.metafields.spr.reviews }}</div>
      </div>
    </div>
  {%- endif -%}
</div>
