{%- liquid
  assign current_sort_by = search.sort_by | default: search.default_sort_by

  if search.url
    assign results_url = search.url
  else
    assign terms = search.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: current_sort_by | append: '&type=' | append: settings.search_type
  endif
-%}
{% style %}
  .custom-search-result {
    display: flex;
    flex-wrap: wrap;
  }
{% endstyle %}
<div data-section-type="search-template"
     data-ajax-filtering="{{ section.settings.ajax_products }}"
     data-components="tabs,product-block,price-range,accordion,sticky-scroll-direction"
     class="py-medium">

  {% paginate search.results by section.settings.products_per_page %}
    <div class="central align-center">
      {% if section.settings.search_show_title %}
        <h1 class="feature-header" data-cc-animate>{{ 'general.search.title' | t }}</h1>
      {% endif %}

      <form action="{{ routes.search_url }}" method="get" class="search-form" id="search-page-form" role="search" data-cc-animate data-cc-animate-delay="0.2s">
        {% comment %} Remove the following line to search everything, not just products {% endcomment %}
        <input type="hidden" name="type" value="{{ settings.search_type }}" />
        <input type="hidden" name="options[prefix]" value="last" />

        <div class="inline-mini-form inline-mini-form--arrow {% if section.settings.search_show_title == false %}mt-0{% endif %}">
          <input type="text" name="q" value="{{ search.terms | escape }}" class="focus-me"
                 placeholder="{{ 'general.search.page_placeholder' | t }}"
                 aria-label="{{ 'general.search.input_label' | t | escape }}"
                 autocomplete="off" required />
          <button class="search-btn compact no-hover" type="submit" aria-label="{{ 'general.search.submit' | t }}">{% render 'svg-rarrow-long' %}</button>
        </div>
      </form>
    </div>

    {% if search.performed %}
      {% render 'search-filter',
        mode: "search",
        results: search,
        results_url: results_url,
        section: section,
        current_sort_by: current_sort_by,
        paginate: paginate
      %}
    {% endif %}
  {% endpaginate %}
</div>


{% schema %}
  {
    "name": "Search results",
    "class": "section-search-template theme-filter-container",
    "settings": [
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "checkbox",
        "id": "search_show_title",
        "label": "Show page title",
        "default": true
      },
      {
        "type": "header",
        "content": "Grid"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "options": [
          {
            "value": "columns",
            "label": "Collage"
          },
          {
            "value": "rows",
            "label": "Grid"
          }
        ],
        "default": "rows",
        "info": "Collage will only work when the 'Image shape' is set to Natural - in Products / Image shape"
      },
      {
        "type": "range",
        "id": "grid",
        "label": "Results per row on desktop",
        "min": 2,
        "max": 4,
        "default": 3
      },
      {
        "type": "select",
        "id": "grid_mobile",
        "label": "Results per row on mobile",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          }
        ],
        "default": "2"
      },
      {
        "type": "range",
        "id": "products_per_page",
        "label": "Results per page",
        "min": 6,
        "max": 48,
        "step": 6,
        "default": 12
      },
      {
        "type": "checkbox",
        "id": "enable_infinite_scroll",
        "label": "Enable infinite-scroll",
        "default": true,
        "info": "As visitors scroll down, more products are loaded in automatically."
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show vendor in product results",
        "default": false
      },
      {
        "type": "header",
        "content": "FILTERS"
      },
      {
        "type": "paragraph",
        "content": "To create the search filters, go to your [navigation](\/admin\/menus) page."
      },
      
  {
    "type": "checkbox",
    "id": "show_filter_counts",
    "label": "Show filter counts",
    "default": false
  }
,
      
  {
    "type": "checkbox",
    "id": "show_filter_deadends",
    "label": "Show filters with zero results",
    "default": true
  }
,
      
  {
    "type": "checkbox",
    "id": "ajax_products",
    "label": "Filter and sort without reloading the page",
    "default": true,
    "info": "Some apps require this to be disabled"
  }
,
      
  {
    "type": "radio",
    "id": "filter_mode",
    "label": "Filter mode",
    "default": "sidebar",
    "options": [
      {
        "value": "none",
        "label": "None"
      },
      {
        "value": "simple",
        "label": "Simple"
      },
      {
        "value": "sidebar",
        "label": "Sidebar"
      }
    ],
    "info": "'Simple' is only recommended if you have a small number of filters. Note, it doesn't allow for multiple options within a filter to be selected and it won't show the price range filter."
  }
,

      {
        "type": "header",
        "content": "Sidebar Settings"
      },
      
  {
    "type": "checkbox",
    "id": "sticky_sidebar",
    "label": "Stick the sidebar on scroll",
    "default": true
  }
,
      
  {
    "type": "select",
    "id": "collapse_filters_method",
    "label": "Filter group collapse",
    "default": "none",
    "options": [
      {
        "value": "none",
        "label": "None"
      },
      {
        "value": "over-6",
        "label": "Over 6 items"
      },
      {
        "value": "over-12",
        "label": "Over 12 items"
      },
      {
        "value": "over-18",
        "label": "Over 18 items"
      },
      {
        "value": "all",
        "label": "All"
      }
    ]
  }
,
      
  {
    "type": "checkbox",
    "id": "collapse_sort_by",
    "label": "Collapse 'Sort by' filter group",
    "default": false
  }
,

      {
        "type": "header",
        "content": "Sorting"
      },
      
  {
    "type": "checkbox",
    "id": "enable_sorting",
    "label": "Enable sorting",
    "default": true
  }

    ]
  }
{% endschema %}
