{%- liquid
  if collection.url.size == 0
    assign results_url = routes.all_products_collection_url
  else
    assign results_url = collection.url
  endif

  if results_url contains "?"
    assign results_url = results_url | split: "?" | first
  endif

  assign current_sort_by = collection.sort_by | default: collection.default_sort_by
-%}

<div data-section-type="collection-template"
     data-ajax-filtering="{{ section.settings.ajax_products }}"
     data-components="tabs,product-block,price-range,accordion,sticky-scroll-direction"
     class="pb-medium {% if section.settings.show_collection_image and collection.featured_image %}header-overlap-section{% elsif section.settings.show_collection_content %}pt-medium{% else %}sm:pt-medium{% endif %}" data-cc-animate>

  {% paginate collection.products by section.settings.products_per_page %}
    {% if section.settings.show_collection_image and collection.featured_image %}
      <div class="collection-header image-overlay image-overlay--bg-full needs-alt-logo">
        <div class="rimage-outer-wrapper rimage-background lazyload fade-in"
             data-cc-animate="cc-fade-in-zoom-out"
             data-bgset="{% render 'bgset', image: collection.featured_image %}"
             data-sizes="auto"
             data-parent-fit="cover">

          <noscript>
            <div class="rimage-wrapper" style="padding-top:{{ 1 | divided_by: collection.featured_image.aspect_ratio | times: 100 }}%">
              <img src="{{ collection.featured_image | img_url: '1024x1024' }}" alt="{{ collection.featured_image.alt | escape }}" class="rimage__image">
            </div>
          </noscript>
        </div>

        <div class="overlay-type overlay" data-cc-animate="cc-fade-in-zoom-out">
          <div class="overlay__content">
    {% endif %}

      <div class="central">
        <div class="content transparent">
          {% if section.settings.show_collection_content %}
            {% if collection.description != blank %}
              <h1 class="line-1 feature-header" data-cc-animate>{{ collection.title }}</h1>

              {% if section.settings.description_position == "top" %}
                <div class="line-2 rte" data-cc-animate data-cc-animate-delay="0.2s">
                  {{ collection.description }}
                </div>
              {% endif %}
            {% else %}
              <h1 class="line-1 feature-header no-margin" data-cc-animate>{{ collection.title }}</h1>
            {% endif %}
          {% endif %}
        </div>
      </div>

    {% if section.settings.show_collection_image and collection.featured_image %}
          </div>
        </div>
      </div>
    {% endif %}

    {% render "search-filter",
      mode: "collection",
      results: collection,
      section: section,
      results_url: results_url,
      paginate: paginate,
      current_sort_by: current_sort_by
    %}

    {% if collection.description != blank and section.settings.description_position == "bottom" and section.settings.show_collection_content == true %}
      <div class="central footer">
        <div class="content transparent">
          <div class="rte">
            {{ collection.description }}
          </div>
        </div>
      </div>
    {% endif %}
  {% endpaginate %}
</div>


{% schema %}
  {
    "name": "Collection pages",
    "class": "theme-filter-container",
    "settings": [
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "checkbox",
        "id": "show_collection_content",
        "label": "Show collection title/description",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_collection_image",
        "label": "Show collection image",
        "default": true
      },
      {
        "type": "select",
        "id": "description_position",
        "label": "Description position",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "header",
        "content": "GRID"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "options": [
          {
            "value": "columns",
            "label": "Collage"
          },
          {
            "value": "rows",
            "label": "Grid"
          }
        ],
        "default": "rows",
        "info": "Collage will only work when the 'Image shape' is set to Natural - in Products / Image shape"
      },
      {
        "type": "range",
        "id": "grid",
        "label": "Desktop products per row",
        "min": 2,
        "max": 4,
        "default": 3
      },
      {
        "type": "select",
        "id": "grid_mobile",
        "label": "Mobile products per row",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          }
        ],
        "default": "2"
      },
      {
        "type": "range",
        "id": "products_per_page",
        "label": "Products per page",
        "min": 12,
        "max": 48,
        "step": 6,
        "default": 18
      },
      {
        "type": "checkbox",
        "id": "enable_infinite_scroll",
        "label": "Enable infinite-scroll",
        "default": true,
        "info": "As visitors scroll down, more products are loaded in automatically."
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendor",
        "default": false
      },
      {
        "type": "header",
        "content": "Alternative pricing"
      },
      {
        "type": "checkbox",
        "id": "show_alternative_pricing",
        "label": "Show Alternative pricing",
        "info": "If a product has alternative pricing information. This data would be sourced from the alternative metafield pricing setting in the general theme settings under metafields.",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_alternative_pricing_over_price",
        "default": false,
        "label": "Display alternative pricing OVER price",
        "info": "Instead of adding the alternative pricing information WITH the price, only render the alternative pricing information."
      },
      {
        "type": "header",
        "content": "FILTERS"
      },
      {
        "type": "paragraph",
        "content": "To create the collection filters, go to your [navigation](\/admin\/menus) page."
      },
      {
        "type": "checkbox",
        "id": "show_filter_counts",
        "label": "Show filter counts",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_filter_deadends",
        "label": "Show filters with zero results",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "ajax_products",
        "label": "Filter and sort without reloading the page",
        "default": true,
        "info": "Some apps require this to be disabled"
      },
      {
        "type": "radio",
        "id": "filter_mode",
        "label": "Filter mode",
        "default": "sidebar",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "simple",
            "label": "Simple"
          },
          {
            "value": "sidebar",
            "label": "Sidebar"
          }
        ],
        "info": "'Simple' is only recommended if you have a small number of filters. Note, it doesn't allow for multiple options within a filter to be selected and it won't show the price range filter."
      },
      {
        "type": "header",
        "content": "Sidebar Settings"
      },
      {
        "type": "checkbox",
        "id": "sticky_sidebar",
        "label": "Stick the sidebar on scroll",
        "default": true
      },
      {
        "type": "select",
        "id": "collapse_filters_method",
        "label": "Filter group collapse",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "over-6",
            "label": "Over 6 items"
          },
          {
            "value": "over-12",
            "label": "Over 12 items"
          },
          {
            "value": "over-18",
            "label": "Over 18 items"
          },
          {
            "value": "all",
            "label": "All"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "collapse_sort_by",
        "label": "Collapse 'Sort by' filter group",
        "default": false
      },
      {
        "type": "header",
        "content": "Sorting"
      },
      {
        "type": "checkbox",
        "id": "enable_sorting",
        "label": "Enable sorting",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_featured_in_sort",
        "label": "Show 'Featured' option in sorting dropdown",
        "default": false
      }
    ]
  }
{% endschema %}
